@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f4faff;
    color: #121d22;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #e4eff7;
}
::-webkit-scrollbar-thumb {
  background: #90a8ff;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e3a8a;
}
